@{
    ViewBag.Title = "Gestionar Cargos";
    Layout = "~/Views/Shared/LayoutPersonalizado.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">

        <div class="card-body row">
            <!-- Formulario de Gestión de Cargos -->
            <div class="col-md-5">
                <h5>Gestionar Cargos</h5>
                <div class="mb-3">
                    <label class="form-label"><strong>Nombre del cargo:</strong></label>
                    <input type="text" class="form-control w-50" id="nombreCargo">
                </div>
                <div class="d-flex gap-2">
                    <button class="btn w-50" style="background-color: #FDD73C; font-weight: bold">Crear cargo</button>
                    <button class="btn w-50" style="background-color: #0D3752; font-weight: bold; color:white">Modificar cargo</button>
                    <button class="btn w-50" style="background-color: #AB1918; font-weight: bold; color:white">Eliminar cargo</button>
                </div>
                <br />
                <button class="btn btn-outline-secondary mt-3" onclick="location.href='@Url.Action("VerMenuAdmin", "Home")'">Cancelar</button>
            </div>

            <div class="col-md-1 d-flex justify-content-center">
                <div class="vr"></div>
            </div>

            <!-- Lista de Cargos -->
            <div class="col-md-6">
                <h5>Cargos actuales</h5>
                <div class="border rounded p-2" style="max-height: 200px; overflow-y: auto;">
                    <input type="text" class="form-control mb-2" value="Administrador" readonly>
                    <input type="text" class="form-control mb-2" value="Gerente" readonly>
                    <input type="text" class="form-control mb-2" value="Repartidor" readonly>
                    <input type="text" class="form-control mb-2" value="Mesero" readonly>
                    <input type="text" class="form-control mb-2" value="Cocinero" readonly>
                    <input type="text" class="form-control mb-2" value="Lava platos" readonly>
                    <input type="text" class="form-control mb-2" value="Vigilante" readonly>
                    <input type="text" class="form-control mb-2" value="Otro Cargo" readonly>
                </div>
            </div>
        </div>
    </div>

</div>
